{
  "_comment": "OpenAPI Overlay for {{ project_name }}. For syntax, see: https://github.com/OAI/Overlay-Specification",
  "overlay": "1.0.0",
  "info": {
    "title": "{{ project_name }} API Overlay",
    "version": "1.0.0"
  },
  "actions": []
}
